# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/

# Environment variables
.env

# VS Code / IDE
.vscode/
.idea/

# Docker
*.log

# Ignore GCP credentials
infra/*.json

# terraform variables with secrets
terraform.tfvars
